<div>
  <h1>Issue order</h1>
  <%= form_with model: @order do |f| %>
    <div>
      <%= f.label :warehouse_id, "Destination warehouse" %>
      <%= f.collection_select :warehouse_id, @warehouses, :id, :full_description %>
    </div>
    <div>
      <%= f.label :supplier_id %>
      <%= f.collection_select :supplier_id, @suppliers, :id, :corporate_name %>
    </div>
    <div>
      <%= f.label :arrival_date %>
      <%= f.date_field :arrival_date %>
    </div>
    <%= f.submit "Order" %>
  <% end %>
</div>

