<div>
  <h2>New item for order <%= @order.id %></h2>

  <%= form_with model: [@order, @order_item] do |f| %>
    <div>
      <%= f.label :product_model_id %>
      <%= f.collection_select :product_model_id, @product_models, :id, :name %>
    </div>
    <div>
      <%= f.label :quantity %>
      <%= f.number_field :quantity %>
    </div>
    <%= f.submit "Save" %>
  <% end %>
</div>