<div>
  <div>
    <h1><%= @supplier.corporate_name %></h1>
    <h3><%= @supplier.brand_name %></h3>
  </div>
  <div>
    <p>Registration number: <%= @supplier.registration_number %></p>
    <p>Adress: <%= @supplier.adress %></p>
    <p>City: <%= @supplier.city %></p>
    <p>State: <%= @supplier.state %></p>
    <p>Email: <%= @supplier.email %></p>
  </div>
  <div>
    <%= button_to "Edit", edit_supplier_path, method: :get %>
    <%= button_to "Back", suppliers_path, method: :get %>
  </div>
</div>