<h1><%= @warehouse.code %> Warehouse</h1>
<h2><%= @warehouse.description %></h2>
<div>
  <h3><%= @warehouse.name %> Airport</h3>
  <p>City: <%= @warehouse.city %></p>
  <p>Area: <%= @warehouse.area %> m2</p>
  <p>Adress: <%= @warehouse.adress %> ZIP: <%= @warehouse.zip %></p>
<div>

<%= link_to 'Back', root_path %>