<div>
  <h1><%= @warehouse.code %></h1>
  <h2><%= @warehouse.description %></h2>
  <div>
    <h3><%= @warehouse.name %></h3>
    <p>City: <%= @warehouse.city %></p>
    <p>Area: <%= @warehouse.area %> m2</p>
    <p>Adress: <%= @warehouse.adress %> zip: <%= @warehouse.zip %></p>
  <div>

  <%= link_to 'Edit', edit_warehouse_path(@warehouse.id) %>
  <%= button_to 'Delete', warehouse_path(@warehouse.id), method: :delete%>
  <%= link_to 'Back', root_path %>
</div>
