<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <div class="center">
        <%= link_to root_path do %>
          <h1>Warehouses & Inventory</h1>
        <% end %>
      </div>
      <nav class="center">
        <%= link_to 'Suppliers', suppliers_path, class: "nav-item" %>
        <%= link_to 'Warehouses', root_path, class: "nav-item" %>
        <%= link_to 'Product models', product_models_path, class: "nav-item" %>
        <%= link_to 'Issue order', new_order_path, class: "nav-item" %>
        <% if user_signed_in? %> 
          <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
          <%= "Signed in as: #{current_user.description}" %>
        <% else %>
          <%= link_to 'Login', new_user_session_path %>
        <% end %>
        
      </nav>
    </header>
    <hr>
    <p class="center"><%= notice %></p>
    <p class="center"><%= alert %></p>
    <main id="main">
      <div>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
